<div class="row">
    <div class="col-md-12" style="margin: 20px 0 5px;">
        <button class="btn btn-outline-success">New Recipe</button>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-12">
        <a href="#" class="list-group-item list-group-item-action clearfix" *ngFor="let recipe of recipes">
            <div class="float-left">
                <h4> {{  recipe.name }} </h4>
                <p style="margin-bottom: 0;"> {{ recipe.description }} </p>
            </div>
            <span class="float-right">
                <img src="{{ recipe.imgPath }}" [src]="recipe.imgPath" alt="{{ recipe.name }}" class="img-fluid"
                    style="max-height: 50px;">
            </span>
        </a>
        <app-recipe-item></app-recipe-item>
    </div>
</div>